@charset "UTF-8";

@media screen and (min-width: 375px) and (max-width: 768px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 520px;
        height: 550px;
        margin-top: 40px;
    }

    section {
        background-color: #1C1937;
        width: 330px;
        height: 700px;
        border-radius: 0px 0px 8px 8px;
    }

    div img {   
        display: flex;
        background-image: url(images/image-header-mobile.jpg);
        width: 330px;
        height: 250px;
        border-radius: 8px 8px 0px 0px;
    }

    h1 {
        color: white;
        padding: 30px 5px 5px 40px;
        font-size: 1.6em;
    }

    .comentario {
        padding: 10px 0px 0px 40px;
        line-height: 23px;
    }

    .complements {
        flex-direction: column;
        padding: 10px 20px 20px 50px;
        font-size: 18px;
        text-align: center;
    }

    .complements p {
        color: white;
        margin: 20px 70px 0px 0px;
        line-height: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    
}

